/*for inputs across calculators*/
body {
    background-color: black;
    font-family: Arial, serif;
}

 .center {
     margin: 0;
     position: relative;
     top: 50%;
     left: 50%;
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
 }

.logo {
    width: 100px;
    height: 100px;
}

.top {
    height: 50px;
    color: white;
    margin-bottom: 50px;
}