body {
    background-color: black;
    font-family: Arial, serif;
}

#input, #output{
    width: 98%;
    height: 40px;
    border: solid white 1px;
    border-radius: 15px;
    font-size: 32px;
    background-color: black;
    color: white;
    text-align: center;
    top: -50%;
}

.unitDropdown {
    display: inline-block;
    width: 49%;
}

form {
    display: inline-block;
    width: 49%;
}

/*keyboard*/
.keyboard {
    align-content: center;
    height: 325px;
    width: 300px;
    border: solid white 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 25px;
    background-color: black;
}

/*buttons*/
button {
    width: 25%;
    display: inline-block;
    margin-top: 5px;
    /*width: 10%;*/
    height: 75px;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.number {
    background-color: rgb(50, 50, 50);
}

.number:hover {
    background-color: grey;
}

.clear {
    background-color: rgb(51, 0, 9);
}

.clear:hover {
    background-color: darkmagenta;
}

.switch {
    background-color: tan;
}

.switch:hover {
    background-color: rgb(255, 235, 205);
}

.unused {
    background-color: black;
    color: black;
}