/*lines up app icons in single row*/
* {
    box-sizing: border-box;
}

/*@media (prefers-color-scheme: light) {*/
/*    body {*/
/*        background-color: whitesmoke;*/
/*    }*/

/*    html {*/
/*        color: black;*/
/*    }*/
/*}*/

body {
    background-color: black;
    font-family: Arial, serif;
}

/*dt {*/
/*    margin-bottom: 25px;*/
/*}*/

html {
    font-family: Arial, serif;
    text-align: center;
    color: white;
}

/*for desktops*/
.logocol-1 {
    width: 20%;
    float: left;
    padding: 15px;
}

.logocol-1:hover {
    border: 1px solid whitesmoke;
}

.logocol-1 img {
    width: 100px; height: 100px; border-radius: 50%;
}

.noticecol-1 {
    /*font-size: 24px;*/
    width: 16.6%;
    float: left;
    padding: 15px;
}

.desc {font-size: 20px}

a:link {
    color: white;
}

a:visited {
    color: cornflowerblue;
}

a:hover {
    color: lightseagreen;
}

#top {
    border-bottom: 2px black solid;
    #greeting {
        font-size: 60px;
    }
    & span {
        font-family: Charm, Arial, serif;
    }
}

#nav {
    height: 70px;
    background-color: black;
    border-bottom: 1px solid #f1f1f1;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

#nav a, #footer a {
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
}

#topleft {
    float: left;
    width: 50%;
    border-bottom: 2px black solid;
    #greeting {
        font-size: 60px;
    }
    & span {
        font-family: Charm, Arial, serif;
    }
}

.sub-headline {
    font-size: 40px;
}

#topright {
    float: right;
    width: 49%;
    opacity: 0.6;
}

#bottom a {
    text-decoration: none;
}

#header {
    font-family: Charm, Arial, serif;
    font-size: 40px;
    text-align: inherit;
    color: white;
    text-decoration: none;
}

.math {
    float: left;
    width: 25%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*calculator lists*/
.calclist {
    font-size: 28px;
    font-weight: bold;
}

#calculator {
    width: 288px;
    height: 650px;
    margin-top: 50px;
    border: 1px solid blue;
    border-radius: 25px;
}

/*for mobile phones*/
@media only screen and (max-width: 1000px) {
    #topright {
        width: 98%;
        opacity: 0.6;
        z-index: 1;
    }

    .math {
        width: 99%;
    }
}

.desc {
    text-align: left;
}

.column {
    float: left;
    width: 14%;
}

.calcColumn {
    padding: 10px;
    float: left;
    width: 90%;
    margin: 50px 5px 0 5px;
    border: 1px solid blue;
    border-radius: 5px;
}

button {
    margin-left: 25%;
    margin-top: 75px;
    background-color: lawngreen;
    font-size: 20px;
}

.main {
    padding-top: 50px;
    min-height: 800px;
    height: auto;
    margin-top: -8px;
}

.number {
    background-color: rgb(50, 50, 50);
}

.number:hover {
    background-color: grey;
}

.clear {
    background-color: rgb(51, 0, 9);
}

.clear:hover {
    background-color: darkmagenta;
}

.unused {
    background-color: black;
    color: black;
}

.enter {
    background-color: tan;
}

.enter:hover {
    background-color: antiquewhite;
}

.center {
    margin: auto;
}

#flutter_target {
    border: 1px solid;
    transition: all 150ms ease-in;
}

.trademark {
    font-size: 24px;
    font-family: Arial, serif;
}