* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
}

html {
    font-family: Arial, serif;
    text-align: center;
}



#top {
    border-bottom: 2px black solid;
    #greeting {
        font-size: 60px;
    }
    & span {
        font-family: Charm, Arial, serif;
    }
    #sub-headline {
        font-size: 40px;
    }
}

.math {
    float: left;
    width: 25%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*calculator lists*/
.calclist {
    /*text-align: left;*/
    font-size: 28px;
    font-weight: bold;
    /*padding-left: 60px;*/
}


.calculator {
    height: 422px;
    border: 1px solid blue;
    border-radius: 25px;
}

/*for mobile phones*/
@media only screen and (max-width: 1000px) {
    [class*="logocol-"] {
        width: 33.33%
    }

    [class*="calccol-"] {
        width: 100%
    }

}







.desc {
    text-align: left;
}

.column {
    float: left;
    width: 14%;
}

.calcColumn {
    padding: 10px;
    float: left;
    width: 90%;
    margin: 50px 5px 0 5px;
    border: 1px solid blue;
    border-radius: 5px;
}

button {
    margin-left: 25%;
    margin-top: 75px;
    background-color: lawngreen;
    font-size: 20px;
}

/*hover*/
/*.image {
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.overlay {
    transition: .5s ease;
    opacity: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.calculator:hover {
    opacity: 0.3;
}

.calculator:hover .overlay {
    opacity: 1;
}

.tryit {
    background-color: #04AA6D;
    color: black;
    font-size: 16px;
    padding: 16px 32px;
}*/

.center {
    margin: auto;
}

#flutter_target {
    border: 1px solid;
    transition: all 150ms ease-in;
}