* {
    box-sizing: border-box;
}

body {
    background-color: #303030;
}

html {
    font-family: Arial, serif;
    text-align: center;
    color: white;
}

[class*="logocol-"] {
    float: left;
    padding: 15px;
}

/*for desktops*/
.logocol-1 {width: 16.66%}

.calccol-1 {width: 8.33%;}
.calccol-2 {width: 16.66%;}
.calccol-3 {width: 25%;}
.calccol-4 {width: 33.33%;}
.calccol-5 {width: 41.66%;}
.calccol-6 {width: 50%;}
.calccol-7 {width: 58.33%;}
.calccol-8 {width: 66.66%;}
.calccol-9 {width: 75%;}
.calccol-10 {width: 83.33%;}
.calccol-11 {width: 91.66%;}
.calccol-12 {width: 100%;}

.calcRow img {float: left; margin-right: 25px}
.desc {font-size: 20px}

a:link {
    color: white;
}

a:visited {
    color: cornflowerblue;
}

a:hover {
    color: lightseagreen;
}

#top {
    border-bottom: 2px black solid;
    #greeting {
        font-size: 60px;
    }
    & span {
        font-family: Charm, Arial, serif;
    }
    #sub-headline {
        font-size: 40px;
    }
}

.math {
    float: left;
    width: 25%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*calculator lists*/
.calclist {
    /*text-align: left;*/
    font-size: 28px;
    font-weight: bold;
    /*padding-left: 60px;*/
}


.calculator {
    height: 422px;
    border: 1px solid blue;
    border-radius: 25px;
}

/*for mobile phones*/
@media only screen and (max-width: 1000px) {
    [class*="logocol-"] {
        width: 33.33%
    }

    [class*="calccol-"] {
        width: 100%
    }

}







.desc {
    text-align: left;
}

.column {
    float: left;
    width: 14%;
}

.calcColumn {
    padding: 10px;
    float: left;
    width: 90%;
    margin: 50px 5px 0 5px;
    border: 1px solid blue;
    border-radius: 5px;
}

button {
    margin-left: 25%;
    margin-top: 75px;
    background-color: lawngreen;
    font-size: 20px;
}

/*hover*/
/*.image {
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.overlay {
    transition: .5s ease;
    opacity: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.calculator:hover {
    opacity: 0.3;
}

.calculator:hover .overlay {
    opacity: 1;
}

.tryit {
    background-color: #04AA6D;
    color: black;
    font-size: 16px;
    padding: 16px 32px;
}*/

.center {
    margin: auto;
}

#flutter_target {
    border: 1px solid;
    transition: all 150ms ease-in;
}