body {
    background-color: black;
    font-family: Arial, serif;
}

.left {
    width: 49%;
    float: left;
    border-right: 1px solid floralwhite;
}

.right {
    width: 49%;
    float: left;
    margin-left: 20px;
}

p, h2, h3 {
    color: #f1f1f1
}

math {
    color: #f1f1f1;
    font-size: 20px;
}

.measurements>button {
    background-color: black;
    border: grey solid 1px;
}

label {
    color: white;
    font-size: 32px;
}

#input {
    width: 98%;
    height: 40px;
    border: solid white 1px;
    border-radius: 15px;
    font-size: 32px;
    background-color: black;
    color: white;
    text-align: right;
    top: -50%;
}

form {
    display: inline-block;
    width: 100%;
}

/*keyboard*/
.keyboard {
    align-content: center;
    height: 375px;
    width: 300px;
    border: solid white 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 25px;
    background-color: black;
}

/*buttons*/
button {
    float: left;
    display: inline-block;
    margin-top: 5px;
    height: 75px;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    width: 25%;
}

.number {
    background-color: rgb(50, 50, 50);
}

.number:hover {
    background-color: grey;
}

.clear {
    background-color: rgb(51, 0, 9);
}

.clear:hover {
    background-color: darkmagenta;
}

.unused {
    background-color: black;
    color: black;
}

#trig {
    background-color: deepskyblue;
    color: black;
}

.odd {
    background-color: #555555;
}

.even {
    background-color: #333333;
}

.column {
    float: left;
    color: white;
    font-size: 24px;
}

.answerLeft {
    width: 50%;
    border-left: 2px solid grey;
}

.answerRight {
    width: 49%;
    text-align: right;
}

@media screen and (max-width: 1000px) {
    .calculator .left .right .answerLeft .answerRight{
        width: 98%;
        /*1080x2106  1.95 ratio*/
    }
}