body {
    background-color: black;
    font-family: Arial, serif;
}

.column {
    float: left;
}

.left {
    width: 49%;
}

.conversions {
    height: 500px;
    overflow-x: scroll;
}

.middle {
    width: 16%;
    border-left: 2px solid grey;
}

.right {
    width: 82%;
    text-align: right;
    color: white;
}

.numbers {
    color: white;
    margin-left: 20px;
    font-size: 24px;
}

.odd {
    background-color: #555555;
}

.even {
    background-color: #333333;
}

#baseInput {
    width: 98%;
    height: 40px;
    border: solid white 1px;
    border-radius: 15px;
    font-size: 32px;
    background-color: black;
    color: white;
    text-align: center;
    position: relative;
}

.baseDropdown {
    display: inline-block;
    width: 98%;
    text-align: center;
    height: 7%;
}

label {
    color: white;
    font-size: 20px;
}

select {
    background-color: black;
    color: white;
    font-size: 20px;
}

form {
    display: inline-block;
    width: 98%;
}

/*keyboard*/
.keyboard {
    align-content: center;
    height: 35%;
    width: 90%;
    border: solid white 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 25px;
    background-color: black;
}

/*buttons*/
button {
    display: inline-block;
    margin-top: 5px;
    width: 10%;
    height: 9vh;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

button:disabled {
    color: #555555;
}

.number, .number:hover:disabled {
    background-color: rgb(50, 50, 50);
}

.number:hover {
    background-color: grey;
}

.clear {
    background-color: rgb(51, 0, 9);
}

.clear:hover {
    background-color: darkmagenta;
}

@media screen and (max-width: 1000px) {
    .baseDropdown {
        /*display: inline-block;*/
        width: 98%;
        text-align: center;
        height: 7%;
    }

    .left  {
        width: 98%;
    }

    .middle {
        width: 28%;
    }

    .right {
        width: 70%;
    }

    .keyboard {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #baseInput {
        width: 98%;
        height: 40px;
        border: solid white 1px;
        border-radius: 15px;
        font-size: 32px;
        background-color: black;
        color: white;
        text-align: center;
    }
}