body {
    background-color: black;
    font-family: Arial, serif;
}

button:disabled {
    color: #555555;
}

/*.calculator {*/
/*    height: 634px;*/
/*    width: 325px;*/
/*    border: solid white 1px;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    margin-top: 5%;*/
/*    border-radius: 25px;*/
/*    background-color: black;*/
/*    !*1080x2106  1.95 ratio*!*/
/*}*/

/* Style the tab */
.tab {
    height: 8%;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#baseInput {
    width: 98%;
    height: 40px;
    border: solid white 1px;
    border-radius: 15px;
    font-size: 32px;
    background-color: black;
    color: white;
    text-align: right;
    position: relative;
    top: -50%;
}

#baseOutput {
    width: 98%;
    height: 40px;
    border: solid white 1px;
    border-radius: 15px;
    font-size: 32px;
    background-color: black;
    color: white;
    text-align: right;
    position: relative;
    top: -50%;
}

.baseDropdown {
    display: inline-block;
}

.baseDropdown {
    width: 49%;
}

form {
    display: inline-block;
    width: 49%;
}

/*keyboard*/
.keyboard {
    align-content: center;
    height: 325px;
    width: 600px;
    border: solid white 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 25px;
    background-color: black;
}

/*buttons*/
button {
    display: inline-block;
    margin-top: 5px;
    /*width: 10%;*/
    height: 75px;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.number {
    background-color: rgb(50, 50, 50);
}

.number:hover {
    background-color: grey;
}

.clear {
    background-color: rgb(51, 0, 9);
}

.clear:hover {
    background-color: darkmagenta;
}

.unused {
    background-color: black;
    color: black;
}

.enter {
    background-color: tan;
}